<div class="container">
    <div  class="col-md-10 col-md-offset-1">
        <div class="form-area">

            <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: center;">Sign Up</h3>
            <div class="form-group">
            <form method="post" class="form" role="form" ng-submit="save()">
				 
                <div class="form-group">
                    <div class="row">
						<label>Name</label>
						<input type="text" class="form-control" ng-model="user.name" id="name" name="name" placeholder="Name" required>
					</div>
                </div>
                <div class="form-group">
					<div class="row">
						<label>Phone</label>
                    	<input type="tel" class="form-control" ng-model="user.phone" id="phone" name="phone" placeholder="Phone" required>
					</div>
                </div>
                <div class="form-group">
					<div class="row">
						<label>E-mail</label>
	                    <input type="text" class="form-control" ng-model="user.email" id="email" name="email" placeholder="Email" required>
					</div>
                </div>
                <div class="form-group">
                	<div class="row">
						<label>Address</label>
						<input type="text" class="form-control" ng-model="user.address" name="address" placeholder="Address" required />
					</div>
                </div>
				
				<div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px">
                            <input type="text" class="form-control" ng-model="user.city" id="city" name="city" placeholder="City" required>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <input type="text" class="form-control" ng-model="user.state" id="state" name="state" placeholder="State" required>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3" style="padding-right:0px">
                            <input type="text" class="form-control" ng-model="user.zip" id="zip" name="zip" placeholder="Zip" required>
                        </div>
                    </div>
                </div>
                
				<br>
                <div class="form-group">
	                <div class="row">
						<label>I am:</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox1" value="Middle School Student" ng-required="true" />
							a Middle School Student
						</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox2" value="High School Student" ng-required="true" />
							a High School Student
						</label>
	                </div>
					<div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox3" value="College Student" ng-required="true" />
							a College Student
						</label>
	                </div>
					<div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox4" value="Educator" ng-required="true" />
							an Educator
						</label>
	                </div>
					<div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox5" value="Interested in working with GLSEN" ng-required="true" />
							interested in working with GLSEN
						</label>
					</div>
                </div>
				<br>
				<div class="form-group">
	                <div class="row">
						<label>Best way to contact you:</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox1" value="E-mail" ng-required="true" />
							E-mail
						</label>
	                </div>
	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox2" value="Phone" ng-required="true" />
							Phone
						</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox3" value="Text" ng-required="true" />
							Text
						</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox4" value="Mail" ng-required="true" />
							Mail
						</label>
					</div>
                </div>

                <div class="form-group">
					<div class="row center">
						<button type="submit" id="submit" name="submit" class="btn btn-primary input-block-level form-control">Submit Form</button>
					</div>
				</div>

            </form>
        </div>
    </div>
</div>

