<div class="container">
    <div  class="col-md-10 col-md-offset-1">
        <div class="form-area">

			<h3 style="margin-bottom: 25px; text-align: center;">
				<!-- Sync button -->
				<button type="button" id="syncBtn" name="sync" ng-disabled="syncStatus" class="btn btn-default btn-xs pull-right" ng-click="sync()">
					<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Sync
				</button>
				<!-- Logo -->
				<img src="img/logo.svg" alt="GLSEN Greater Cincinnati">
			</h3>

            <form class="form" role="form" name="userForm" ng-submit="save()" novalidate>
				
				<!-- Error Message -->
				<div ng-show="userForm.$submitted && userForm.$invalid" class="alert alert-danger" style="text-align:center" role="alert">
					<span>Please complete required fields</span>
				</div>

				<!-- Save Status Messages -->
				<div class="alert alert-info" role="alert" ng-show="saveStatus == 'saving'">
					<strong>Saving Record...</strong>
				</div>
				<div class="alert alert-success" role="alert" ng-show="saveStatus == 'success'">
					<strong>Record Saved!</strong>
				</div>
				<div class="alert alert-danger" role="alert" ng-show="saveStatus == 'failed'">
					<strong>Record save failed.</strong>  Please try again.
				</div>

				<!-- Sync Status Messages -->
				<div class="alert alert-info" role="alert" ng-show="syncStatus == 'syncing'">
					<strong>Syncing Records to GDrive...</strong>
				</div>
				<div class="alert alert-success" role="alert" ng-show="syncStatus == 'success'">
					<strong>Records Sync completed!</strong>
				</div>
				<div class="alert alert-danger" role="alert" ng-show="syncStatus == 'failed'">
					<strong>Records Sync failed.</strong>  Please try again.
				</div>

				<!-- Name -->
				<div class="form-group" ng-class="(userForm.$submitted && userForm.name.$invalid) ? 'has-error' : ''">
                    <div class="row">
						<label>Name (required):</label>
						<input type="text" class="form-control" ng-model="user.name" id="name" name="name" placeholder="Jane Doe"  required>

						<div ng-show="userForm.$submitted">
							<p class="help-block" ng-show="userForm.name.$error.required">This Field is required</p>										
						</div>
					</div>
                </div>

				<!-- Contact Info (required based on radio selection) -->
                <!-- Phone -->
				<div class="form-group" ng-class="(userForm.$submitted && userForm.phone.$invalid) ? 'has-error' : ''">
					<div class="row">
						<label>Phone<span ng-show="user.contactMethod == 'Phone' || user.contactMethod == 'Text'"> (required)</span>:</label>
                    	<input type="tel" class="form-control" ng-model="user.phone" id="phone" name="phone" placeholder="(xxx) xxx-xxxx" ng-required="user.contactMethod == 'Phone' || user.contactMethod == 'Text' || (user.email == null && user.contactMethod != 'E-mail')">

						<div ng-show="userForm.$submitted">
							<p class="help-block" ng-show="userForm.phone.$error.required && user.contactMethod != 'Phone' && user.contactMethod != 'E-mail'">Phone or E-mail is required</p>
							<p class="help-block" ng-show="userForm.phone.$error.required && user.contactMethod == 'Phone'">This field is required</p>										
						</div>
					</div>
                </div>
				<!-- E-mail -->
                <div class="form-group" ng-class="(userForm.$submitted && userForm.email.$invalid) ? 'has-error' : ''">
					<div class="row">
						<label>E-mail<span ng-show="user.contactMethod == 'E-mail'"> (required)</span>:</label>
	                    <input type="email" class="form-control" ng-model="user.email" id="email" name="email" placeholder="yourName@email.com" ng-required="user.contactMethod == 'E-mail' || (user.phone == null && user.contactMethod != 'Phone')">

						<div ng-show="userForm.$submitted">
							<p class="help-block" ng-show="userForm.email.$error.required && user.contactMethod != 'Phone' && user.contactMethod != 'E-mail'">Phone or E-mail is required</p>
							<p class="help-block" ng-show="userForm.email.$error.required && user.contactMethod == 'E-mail'">This Field is required</p>
							<p class="help-block" ng-show="!userForm.email.$error.required && userForm.email.$error.email">Please enter a valid e-mail address</p>										
						</div>
					</div>
                </div>
				
				<!-- Address -->
				<div>
					<!-- Street Address -->
					<div class="form-group" ng-class="(userForm.$submitted && userForm.address.$invalid) ? 'has-error' : ''">
						<div class="row">
							<label>Address (ZIP required):</label>
							<input type="text" class="form-control" ng-model="user.address" name="address" placeholder="Street Address">

							<div ng-show="userForm.$submitted">
								<p class="help-block" ng-show="userForm.address.$error.required">This Field is required</p>										
							</div>
						</div>
					</div>
					
					<!-- City, State, Zip (Only zip is required) -->
					<div class="form-group">
						<div class="row">
							<!-- city -->
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px" ng-class="(userForm.$submitted && userForm.city.$invalid) ? 'has-error' : ''">
								<input type="text" class="form-control" ng-model="user.city" id="city" name="city" placeholder="City">
								
								<div ng-show="userForm.$submitted">
									<p class="help-block" ng-show="userForm.city.$error.required">This Field is required</p>										
								</div>
							</div>
							<!-- state -->
							<div class="col-xs-3 col-sm-3 col-md-3" ng-class="(userForm.$submitted && userForm.state.$invalid) ? 'has-error' : ''">
								<input type="text" class="form-control" ng-model="user.state" id="state" name="state" placeholder="State">
								
								<div ng-show="userForm.$submitted">
									<p class="help-block" ng-show="userForm.state.$error.required">This Field is required</p>										
								</div>
							</div>
							<!-- zip -->
							<div class="col-xs-3 col-sm-3 col-md-3" style="padding-right:0px" ng-class="(userForm.$submitted && userForm.zip.$invalid) ? 'has-error' : ''">
								<input type="text" class="form-control" ng-model="user.zip" id="zip" name="zip" placeholder="Zip" ng-required="true">
								
								<div ng-show="userForm.$submitted">
									<p class="help-block" ng-show="userForm.zip.$error.required">This Field is required</p>										
								</div>
							</div>
						</div>
					</div>
                </div>

				<br>
				<!-- I am -->
                <div class="form-group" ng-class="(userForm.$submitted && userForm.requestor.$invalid) ? 'has-error' : ''">
	                <div class="row">
						<label>I am:</label>
					</div>

	                <div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox1" value="Middle School Student" ng-required="!user.requestorType" />
							Middle School Student
						</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox2" value="High School Student" ng-required="!user.requestorType" />
							High School Student
						</label>
	                </div>
					<div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox3" value="College Student" ng-required="!user.requestorType" />
							College Student
						</label>
	                </div>
					<div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox4" value="Educator" ng-required="!user.requestorType" />
							Educator
						</label>
	                </div>
					<div class="radio">
						<label>
							<input type="radio" name="requestor" ng-model="user.requestorType" id="inlineCheckbox5" value="Other" ng-required="!user.requestorType" />
							(Other)
						</label>
					</div>
						
					<div ng-show="userForm.$submitted" ng-class="(userForm.$submitted && userForm.requestor.$invalid) ? 'has-error' : ''">
						<p class="help-block" ng-show="userForm.requestor.$error.required">This Field is required</p>										
					</div>
                </div>
				
				<!-- Requestor Type (Other) -->
				<div class="form-group" ng-show="user.requestorType == 'Other'" ng-class="(userForm.$submitted && userForm.requestorTypeOther.$invalid) ? 'has-error' : ''">
					<div class="row">
						<label>Other (required):</label>
	                    <input type="text" class="form-control" ng-model="user.requestorTypeOther" id="requestorTypeOther" name="requestorTypeOther" placeholder="Please specify" ng-required="user.requestorType == 'Other'">
						
						<div ng-show="userForm.$submitted">
							<p class="help-block" ng-show="userForm.requestorTypeOther.$error.required">This Field is required</p>										
						</div>
					</div>
                </div>

				<br>
				<!-- Best way to contact you -->
				<div class="form-group" ng-class="(userForm.$submitted && userForm.contactMethod.$invalid) ? 'has-error' : ''">
	                <div class="row">
						<label>Best way to contact you:</label>
					</div>

	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox1" value="E-mail" ng-required="!user.contactMethod" />
							E-mail
						</label>
	                </div>
	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox2" value="Phone" ng-required="!user.contactMethod" />
							Phone
						</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox3" value="Text" ng-required="!user.contactMethod" />
							Text
						</label>
					</div>
	                <div class="radio">
						<label>
							<input type="radio" name="contactMethod" ng-model="user.contactMethod" id="inlineCheckbox4" value="Mail" ng-required="!user.contactMethod" />
							Mail
						</label>
					</div>
					
					<div ng-show="userForm.$submitted" ng-class="(userForm.$submitted && userForm.contactMethod.$invalid) ? 'has-error' : ''">
						<p class="help-block" ng-show="userForm.contactMethod.$error.required">This Field is required</p>										
					</div>
                </div>

				<br>
				<!-- isVolunteer -->
				<div class="form-group">
	                <div class="row">
						<label>Volunteer:</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="isVolunteer" ng-model="user.isVolunteer" id="isVolunteer">
							I am interested in working with GLSEN
						</label>
					</div>
					
					<div ng-show="userForm.$submitted" ng-class="(userForm.$submitted && userForm.isVolunteer.$invalid) ? 'has-error' : ''">
						<p class="help-block" ng-show="userForm.isVolunteer.$error.required">This Field is required</p>										
					</div>
				</div>

				<br>
				<!-- Reset and Submit buttons (Sync button is at top right of page) -->
                <div class="form-group">
					<div class="row">
						<!-- Reset Form -->
						<div class="col-xs-4 col-sm-4 col-lg-4">
							<button type="reset" id="resetBtn" name="reset" class="btn btn-danger pull-left" ng-click="resetForm()">Start Over</button>
						</div>
						<!-- Submit -->
						<div class="">
							<button type="submit" id="submitBtn" name="submit" ng-disabled="saveStatus" class="btn btn-primary col-xs-4 col-sm-4 col-lg-4">Register</button>
						</div>
					</div>
					<br>
				</div>

            </form>
        </div>
    </div>
</div>
